{% extends 'base.html.twig' %}

{% block title %} SerbizHub Website {% endblock %}

{% block body %}



 <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1>SerbizHub Marketing Solutions</h1>
                                    <p>STRATEGY+DESIGN+EXECUTION</p>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                            <div class="home-contact">
                                                <div class="input-group">

                                                </div><!-- /input-group -->


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>

        

         <!-- Sections -->
        <section id="business" class="portfolio sections">
            <div class="container">
                <div class="head_title text-center">
                    <h1>SerbizHub Services</h1>
					<p>Business Solutions</p>
                </div>

                <div class="row">
                    <div class="portfolio-wrapper text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/suite.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Suite</h4>
                                <p>incorporates sales, inventory, accounting functions; manages purchase orders, invoices, accounts payable and receivable, inventories, payments, general ledgers, banking records. (Flyer, Technical Specs. Demo access is available upon request.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/peoplesuite.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>peopleSuite</h4>
                                <p>a human resource platform for personnel records, for managing time and attendance, leaves, payroll. The system integrates biometric devices. (Brochure. Demo is available upon request.)</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/help.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub HelpDesk</h4>
                                <p>a support ticket system to address customer complaints, queries, inter-department concerns. It enables you to consolidate communication channels (email, phone, SMS) for efficient customer service. See brochure.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/links.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Links</h4>
                                <p>helps manage your interactions with customers, automate sales and marketing processes, analyze customer data, and create reports. Demo available.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="row">
                    <div class="portfolio-wrapper2 text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/health.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>Content Management System</h4>
                                <p>Don't just build a website that easily turns into an online relic. Create a secure, dynamic, highly manageable, mobile-ready, social-media friendly platform meant to be found by search engines and revisted many times over.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/bank.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Banking</h4>
                                <p>a banking platform for credit cooperatives for managing membership information, loans and credits, payments, remittances, and for generating reports and alerts. Access to demo site is available upon request.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/mail.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Mail</h4>
                                <p>Using official email is a mark of professionalism and good business etiquette. SerbizHub Mail is a reliable, affordable, well-maintained custom email service accessible from diverse devices. More details.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/col.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Collaborate</h4>
                                <p>is a host of collaboration platforms that foster productivity, document and knowledge management, and institutional memory. It provides a repository of various organizational digital assets accessible from diverse devices.</p>
                            </div>
                        </div>

                        

                    </div>

                    

                </div>

                <div class="row">
                    <div class="portfolio-wrapper2 text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/support.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>SerbizHub Support</h4>
                                <p>Can't bring yourself to build your own IT department? Let us be your virtual technology support. We do remote server mangement and analytics and can assist in planning, deployment, monitoring of IT services.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/sec.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>Security Consulting</h4>
                                <p>The requirements of online security are dynamic and ever-changing. The need to periodically, independently evaluate online security risks and threats to business, is more pressing than ever. moodLearning offers security consulting that includes vulnerability assessment and penetration testing of online assets.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                <img src="/assets/images/knowledge.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>Knowledge Management</h4>
                                <p>Knowledge can be a transformative asset. moodLearning offers knowledge management consulting to help businesses and organizations identify, document, develop, streamline, share, deploy good business processes or practices and achieve their missions and goals.</p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="community-edition">
                                 <img src="/assets/images/tech.png" alt="suite" height="100px" width="100px" vspace="10">
                                <div class="separator"></div>
                                <h4>Technology Management</h4>
                                <p>Technologies have not always been wielded to your own full advantage. moodLearning offers technology management consulting that helps businesses and organizations examine and develop their strategies and options for deploying appropriate and effective technologies.</p>
                            </div>
                        </div>

                        

                    </div>
            </div> <!-- /container -->       
        </section>	



      

        <!--Package-->
        <br style="line-height:50px" />
        <section id="marketing">
        <div class="container">
        <div class="row">
            <h1 align="center"> Service Package </h1>
            <br>
            <div class="col-sm-4 col-md-4">
                <div class="card">
                    <div class="front">
                        <div class="serviceBox yellow">
                            <div class="service-icon"><a href="#"><img height="100" width="100" src="assets/images/rate1.png" alt="Card image"></a></div>
                            <div class="service-content">
                                <h3>Basic Package</h3>
                                <hr />
                                <p>Build the digital marketing essentials for reaching your audience online, where pre-buying decisions are made these days. Have a well-designed, well-maintained, secure website meant to be visited by your potential clients and indexed by search engines. Create a basic online marketing plan that your staff can readily implement, revise, extend.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="serviceBox yellow">
                            <div class="service-content">
                                <h3>Inclusions</h3>
                                <hr />
                                <p>1. Content Management System (CMS): design and development, optimization (for audience, searchability, mobile friendliness, etc.), maitenance, security <br><br>2. Basic SEO (search engine optimization): metadata, site optimization, dashboard and analytics <br><br>3. Basic Plan </p>
                                <br style="line-height:90px" /> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card">
                    <div class="front">
                        <div class="serviceBox green">
                            <div class="service-icon"><a href="#"><img height="100" width="100" src="assets/images/rate2.png" alt="Card image"></a></div>
                            <div class="service-content">
                                <h3>Intermediate Package</h3>
                                <hr />
                                <p>Extend the digital marketing essentials to social media and engage your audience where your potential clients might be most open to your products and services. Run a disciplined social media campaign and train your staff to keep it going. </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="serviceBox green">
                            <div class="service-content">
                                <h3>Inclusions</h3>
                                <hr />
                                <p>1. Content Management System (CMS):  design and development, optimization (for audience, searchability, mobile friendliness, etc.), maintenance, security <br><br>2. Basic SEO (search engine optimization) + social media presence <br><br>3. Basic Plan  + social media campaign plan<br><br>4. Free: one 1-minute video explainer, 1 workshop on social media campaign</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card">
                    <div class="front">
                        <div class="serviceBox pink">
                            <div class="service-icon"><a href="#"><img height="100" width="100" src="assets/images/rate3.png" alt="Card image"></a></div>
                            <div class="service-content">
                                <h3>Advanced Package</h3>
                                <hr />
                                <p>Reach out to your audience in ways that reflect the maturity of your business. Engage your clients with contents that are unique to your business.</p>
                                <br style="line-height:150px" /> 
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="serviceBox pink">
                            <div class="service-content">
                                <h3>Inclusions</h3>
                                <hr />
                                <p>1. Content Management System (CMS):  design and development, optimization (for audience, searchability, mobile friendliness, etc.), maintenance, security<br><br>2. Basic SEO + social media presence + online advertising placement plan, optimization, and maintenance<br><br>3. Basic Plan  + social media campaign plan + content marketing plan<br><br>4. Brandbook optimization<br><br>5. Free: two 1-minute video explainers, 1 workshop on social media campaign</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        </section>
        <br style="line-height:50px" />

       

{% endblock %}