<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}SerbizHub Website{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />
        <link rel="stylesheet" href="assets/css/roboto-webfont.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <!--Flip-->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.3.0.2/css/swipebox.min.css">
        <link rel="stylesheet" href="/assets/css/flip.css">

        <!--servicebox-->
        <link rel="stylesheet" href="/assets/css/servicebox.css">

        <!--Dropdown-->
        <link rel="stylesheet" href="/assets/css/dropdown.css">

       


        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{include('inc/nav.html.twig')}}
        {% block body %}{% endblock %}
        {% block javascripts %}


        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/main.js"></script>


        <!--FLIP-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.3.0.2/js/jquery.swipebox.min.js"></script>
	    <script src="assets/js/jquery.flip.min.js"></script>
	    <script>
		$(document).ready(function() {
			$('.card a').swipebox();
			$('.card').flip({trigger: "hover"});
		});
	    </script>
      
        
    
        {% endblock %}
        {{include('inc/footer.html.twig')}}
    </body>
</html>
